name: MacOS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  wine-staging:
    runs-on:  macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          brew update
          brew install --cask xquartz
          brew install  bison \
                        gphoto2 \
                        gst-plugins-base \
                        gcenx/wine/mingw-w64@9 \
                        molten-vk \
                        sdl2

      - name: Add bison & krb5 to $PATH
        run: |
          set -eu
          echo "$(brew --prefix bison)/bin" >> $GITHUB_PATH
          echo "$(brew --prefix krb5)/bin" >> $GITHUB_PATH
          echo "$(brew --prefix mingw-w64@9)/bin" >> $GITHUB_PATH

      - name: Get upstream-commit
        run: |
          mkdir $GITHUB_WORKSPACE/wine
          cd wine
          git init
          git fetch git://source.winehq.org/git/wine.git $($GITHUB_WORKSPACE/patches/patchinstall.sh --upstream-commit) --depth=1
          git checkout $($GITHUB_WORKSPACE/patches/patchinstall.sh --upstream-commit)

      - name: Run patchinstall.sh --all
        run: |
          $GITHUB_WORKSPACE/patches/patchinstall.sh DESTDIR=$GITHUB_WORKSPACE/wine --all

      - name: Configure wine64
        env:
          LDFLAGS: "-Wl,-rpath,/opt/X11/lib"
          # Avoid weird linker errors with Xcode 10 and later
          MACOSX_DEPLOYMENT_TARGET: "10.14"
        run: |
          cd $GITHUB_WORKSPACE/wine
          ./configure   --enable-win64 \
                        --without-alsa \
                        --without-capi \
                        --without-dbus \
                        --without-inotify \
                        --without-oss \
                        --without-pulse \
                        --without-udev \
                        --without-v4l2 \
                        --x-include=/opt/X11/include \
                        --x-lib=/opt/X11/lib

      - name: Build wine64
        # mingw-w64 brew formula bumped binutils 2.38 causing a regression in parallel builds
        # use gcenx/wine/mingw-w64@9 this uses binutils 2.37
        run: |
          cd $GITHUB_WORKSPACE/wine
          make -j$(sysctl -n hw.ncpu 2>/dev/null)

  wine-devel:
    runs-on:  macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          brew update
          brew install --cask xquartz
          brew install  bison \
                        faudio \
                        gphoto2 \
                        gst-plugins-base \
                        jxrlib \
                        little-cms2 \
                        gcenx/wine/mingw-w64@9 \
                        molten-vk \
                        mpg123

      - name: Add bison & krb5 to $PATH
        run: |
          set -eu
          echo "$(brew --prefix bison)/bin" >> $GITHUB_PATH
          echo "$(brew --prefix krb5)/bin" >> $GITHUB_PATH
          echo "$(brew --prefix mingw-w64@9)/bin" >> $GITHUB_PATH

      - name: Get upstream-commit
        run: |
          mkdir $GITHUB_WORKSPACE/wine
          cd wine
          git init
          git fetch git://source.winehq.org/git/wine.git $($GITHUB_WORKSPACE/patches/patchinstall.sh --upstream-commit) --depth=1
          git checkout $($GITHUB_WORKSPACE/patches/patchinstall.sh --upstream-commit)

      - name: Configure wine64
        env:
          LDFLAGS: "-Wl,-rpath,/opt/X11/lib"
          # Avoid weird linker errors with Xcode 10 and later
          MACOSX_DEPLOYMENT_TARGET: "10.14"
        run: |
          cd $GITHUB_WORKSPACE/wine

          cd $GITHUB_WORKSPACE/wine
          ./configure   --enable-win64 \
                        --without-alsa \
                        --without-capi \
                        --without-dbus \
                        --without-inotify \
                        --without-oss \
                        --without-pulse \
                        --without-udev \
                        --without-v4l2 \
                        --x-include=/opt/X11/include \
                        --x-lib=/opt/X11/lib

      - name: Build wine64
        # mingw-w64 brew formula bumped binutils 2.38 causing a regression in parallel builds
        # use gcenx/wine/mingw-w64@9 this uses binutils 2.37
        run: |
          cd $GITHUB_WORKSPACE/wine
          make -j$(sysctl -n hw.ncpu 2>/dev/null)
